<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>PM Document Interrogator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Load Tailwind CSS from CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="image/favicon.ico" type="image/x-icon" />
    <!-- Load Vue3 from CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>

  <body>
    <div
      id="app"
      class="h-screen w-screen flex flex-col justify-center items-center"
    >
      <!--Modal-->
      <div class="fixed z-10 inset-0 overflow-y-auto" v-if="showPopup">
        <div
          class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
        >
          <!-- Background overlay -->
          <div class="fixed inset-0 transition-opacity" aria-hidden="true">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
          </div>

          <div
            class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
          >
            <form class="px-4 py-6">
              <!--
              <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="email">
                  Email
                </label>
                <input
                  class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  id="email"
                  type="email"
                  placeholder="Enter your email address"
                  v-model="userEmail"
                />
              </div>
              -->
              <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="api-key">
                  OpenAI API Key (Saved Locally)
                </label>
                <input
                  class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  id="api-key"
                  type="password"
                  placeholder="Enter your OpenAI API key"
                  v-model="openAIKey"
                />
              </div>
              <div class="mt-6">
                <button
                  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                  v-on:click="showPopup=false"
                >
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!--Header-->
      <div
        class="flex justify-center items-center flex-col h-1/12 w-full border-b border-gray-300 shadow-md"
      >
        <h1 class="text-2xl font-bold text-center text-teal-500">
          PM Document Interrogator
        </h1>
        <h2 class="text-lg font-medium text-center text-gray-400">
          Improve your product documents with AI
        </h2>
      </div>

      <div class="flex h-full w-full">
        <!--Left column for document-->
        <div class="w-2/3 h-full flex flex-col justify-center items-center">
          <!--Text area for inputting document-->
          <div class="h-2/3 w-10/12 mx-auto my-5 bg-white">
            <textarea
              class="w-full h-full rounded-lg outline-none border-2 border-teal-500 resize-none py-2 px-2"
              placeholder="Paste your document here"
              v-model="userDoc"
            ></textarea>
          </div>
          <!--Text area for getting feedback from LLM-->
          <div class="h-1/3 w-10/12 mx-auto my-5 bg-white">
            <textarea
              class="w-full h-full bg-transparent rounded-lg outline-none border-2 border-orange-300 resize-none py-2 px-2"
              placeholder="Tap a button in the right panel for feedback"
              v-model="feedback"
              readonly
            ></textarea>
          </div>
        </div>

        <!--Right column for buttons-->
        <div class="w-1/3 h-full flex flex-col justify-start items-center">
          <div class="w-full h-1/4 mx-auto my-5 bg-white">
            <h2 class="font-semibold text-center py-1">Inspire</h2>
            <button
              class="bg-transparent border border-teal-500 text-teal-500 font-semibold py-1 px-2 my-1 mx-2 rounded hover:bg-teal-500 hover:text-white hover:border-transparent"
              @click="checkSimilarApps"
            >
              Similar Apps
            </button>
          </div>
          <div class="w-full h-1/4 mx-auto my-5 bg-white">
            <h2 class="font-semibold text-center py-1">Generate</h2>
            <div class="flex flex-wrap justify-start align-center">
              <button
                class="bg-transparent border border-teal-500 text-teal-500 font-semibold py-1 px-2 my-1 mx-2 rounded hover:bg-teal-500 hover:text-white hover:border-transparent"
                @click="generateUserStories"
              >
                User Stories
              </button>
              <button
                class="bg-transparent border border-teal-500 text-teal-500 font-semibold py-1 px-2 my-1 mx-2 rounded hover:bg-teal-500 hover:text-white hover:border-transparent"
                @click="generateSuccessCriteria"
              >
                Success Criteria
              </button>
              <button
                class="bg-transparent border border-teal-500 text-teal-500 font-semibold py-1 px-2 my-1 mx-2 rounded hover:bg-teal-500 hover:text-white hover:border-transparent"
                @click="generatePRFAQ"
              >
                PRFAQ
              </button>
            </div>
          </div>
          <div class="w-full h-1/4 mx-auto my-5 bg-white">
            <h2 class="font-semibold text-center py-1">Analyze</h2>
            <div class="flex flex-wrap justify-start align-center">
              <button
                class="bg-transparent border border-teal-500 text-teal-500 font-semibold py-1 px-2 my-1 mx-2 rounded hover:bg-teal-500 hover:text-white hover:border-transparent"
                @click="analyzeComponents"
              >
                Missing Components
              </button>
              <button
                class="bg-transparent border border-teal-500 text-teal-500 font-semibold py-1 px-2 my-1 mx-2 rounded hover:bg-teal-500 hover:text-white hover:border-transparent"
                @click="analyzeLogic"
              >
                Logical Flaw
              </button>
            </div>
          </div>
          <div class="w-full h-1/4 mx-auto my-5 bg-white">
            <h2 class="font-semibold text-center py-1">Improve</h2>
            <div class="flex flex-wrap justify-start align-center">
              <button
                class="bg-transparent border border-teal-500 text-teal-500 font-semibold py-1 px-2 my-1 mx-2 rounded hover:bg-teal-500 hover:text-white hover:border-transparent"
                @click="improveLanguage"
              >
                Language
              </button>
              <button
                class="bg-transparent border border-teal-500 text-teal-500 font-semibold py-1 px-2 my-1 mx-2 rounded hover:bg-teal-500 hover:text-white hover:border-transparent"
                @click="ideateIterations"
              >
                Future Iterations
              </button>
            </div>
          </div>
        </div>
      </div>

      <!--Footer-->
      <div
        class="flex justify-center items-center flex-col h-1/12 w-full border-t border-gray-300"
      >
        <h2 class="text-sm font-regular text-center text-gray-400">
          Made with ❤️ & ☕ by
          <a
            href="https://www.linkedin.com/in/guodongzhao/"
            style="text-decoration: underline"
            >Troy Zhao</a
          >.
          <a
            href="https://github.com/Troyanovsky/pm_doc_interrogator"
            style="text-decoration: underline"
            >GitHub Repo</a
          >
        </h2>
      </div>
    </div>

    <!-- Fallback to local copy if unpkg is unavailable -->
    <script>
      if (typeof Vue === "undefined") {
        var script = document.createElement("script");
        script.src = "src\vue.global.prod.js";
        document.head.appendChild(script);
      }
    </script>
    <!-- Vue -->
    <script>
      const app = Vue.createApp({
        data() {
          return {
            userDoc: "",
            feedback: "",
            showPopup: true,
            // userEmail: "",
            openAIKey: "",
          };
        },
        methods: {
          // check if the doc is valid: 100-2000 words
          checkValidDoc() {
            const doc = this.userDoc.trim();
            const wordCount = doc.split(/\s+/).length;
            if (wordCount > 2000 || wordCount < 100) {
              return false;
            }
            return true;
          },

          // check if the OpenAI API key is valid
          isValidOpenaiKey() {
            let OPENAI_API_KEY = this.openAIKey.trim();
            // An OpenAI API key should be exactly 51 characters long
            if (OPENAI_API_KEY.length !== 51) {
              console.log("API key is not 51 characters long");
              return false;
            }

            // An OpenAI API key should start with "sk-"
            if (!OPENAI_API_KEY.startsWith("sk-")) {
              console.log("API key does not start with sk-");
              return false;
            }

            // An OpenAI API key should only contain numbers, letters, and dashes
            const hexRegex = /^[a-zA-Z0-9-]+$/;
            if (!hexRegex.test(OPENAI_API_KEY)) {
              console.log("API key contains non-hexadecimal characters");
              return false;
            }

            return true;
          },

          checkSimilarApps() {
            const doc = this.userDoc.trim();

            console.log("Checking if document is valid...");
            if (this.checkValidDoc()) {
              // construct prompt
              const similarAppsPrompt =
                "Given the following product requirement document, show me the top 3 similar apps to the one described in the document? For each app, list the name, main features, strengths, weaknesses in bullet points. ---START OF DOCUMENT---" +
                doc +
                "---END OF DOCUMENT---";

              // send request to OpenAI API
              this.sendRequest(similarAppsPrompt);
            } else {
              this.feedback =
                "Invalid Document. Document must be between 100-2000 words.";
            }
          },

          generateUserStories() {
            const doc = this.userDoc.trim();

            console.log("Checking if document is valid...");
            if (this.checkValidDoc()) {
              // construct prompt
              const userStoriesPrompt =
                "Given the following product requirement document, write the user stories for this product. User stories are in this format: As [a user persona], I want [to perform this action] so that [I can accomplish this goal]. List user stories in bullet points.---START OF DOCUMENT---" +
                doc +
                "---END OF DOCUMENT---";

              // send request to OpenAI API
              this.sendRequest(userStoriesPrompt);
            } else {
              this.feedback =
                "Invalid Document. Document must be between 100-2000 words.";
            }
          },

          generateSuccessCriteria() {
            const doc = this.userDoc.trim();

            console.log("Checking if document is valid...");
            if (this.checkValidDoc()) {
              // construct prompt
              const successCriteriaPrompt =
                "Given the following product requirement document, write the success criteria for this product. List the success criteria in bullet poitns. ---START OF DOCUMENT---" +
                doc +
                "---END OF DOCUMENT---";

              // send request to OpenAI API
              this.sendRequest(successCriteriaPrompt);
            } else {
              this.feedback =
                "Invalid Document. Document must be between 100-2000 words.";
            }
          },

          generatePRFAQ() {
            const doc = this.userDoc.trim();

            console.log("Checking if document is valid...");
            if (this.checkValidDoc()) {
              // construct prompt
              const PRFAQPrompt =
                "Given the following product requirement document, write a PRFAQ in Amazon style. The document should contain a short press release of the product, an internal FAQ for addressing questions that internal stakeholders might ask, and an external FAQ that addresses questions that customers and other external stakeholders might ask. Be comprehensive, logical, and concise.---START OF DOCUMENT---" +
                doc +
                "---END OF DOCUMENT---";

              // send request to OpenAI API
              this.sendRequest(PRFAQPrompt);
            } else {
              this.feedback =
                "Invalid Document. Document must be between 100-2000 words.";
            }
          },

          analyzeComponents() {
            const doc = this.userDoc.trim();

            console.log("Checking if document is valid...");
            if (this.checkValidDoc()) {
              // construct prompt
              const componentsPrompt =
                "Given the following product requirement document, analyze which components might be missing. A good product requirement document should contain: Product Description, Business Requirements, User Stories/Use Cases, Functional Requirements, Business Requirements, Technical Requirements, Performance Requirements, Security Requirements, Integration Requirements, Reporting and Analytics Requirements, Legal and Compliance Requirements, Project Scope and Boundaries, Assumptions, Constraints, Acceptance Criteria, Wireframes or Mockups (if applicable), Data Architecture, Project Timeline and Milestones. ---START OF DOCUMENT---" +
                doc +
                "---END OF DOCUMENT---";

              // send request to OpenAI API
              this.sendRequest(componentsPrompt);
            } else {
              this.feedback =
                "Invalid Document. Document must be between 100-2000 words.";
            }
          },

          analyzeLogic() {
            const doc = this.userDoc.trim();

            console.log("Checking if document is valid...");
            if (this.checkValidDoc()) {
              // construct prompt
              const logicPrompt =
                "Given the following product requirement document, analyze if the document is logical and if it contains any logical flawss like unstated assumptions. ---START OF DOCUMENT---" +
                doc +
                "---END OF DOCUMENT---";

              // send request to OpenAI API
              this.sendRequest(logicPrompt);
            } else {
              this.feedback =
                "Invalid Document. Document must be between 100-2000 words.";
            }
          },

          improveLanguage() {
            const doc = this.userDoc.trim();

            console.log("Checking if document is valid...");
            if (this.checkValidDoc()) {
              // construct prompt
              const languagePrompt =
                "Given the following product requirement document, check if the language is professionally appropriate. Check for grammar, spellings, discriminary language, unexplained jargons, informal language, biases, ambiguous language. Correct the language flaws and return the corrected version.---START OF DOCUMENT---" +
                doc +
                "---END OF DOCUMENT---";

              // send request to OpenAI API
              this.sendRequest(languagePrompt);
            } else {
              this.feedback =
                "Invalid Document. Document must be between 100-2000 words.";
            }
          },

          ideateIterations() {
            const doc = this.userDoc.trim();

            console.log("Checking if document is valid...");
            if (this.checkValidDoc()) {
              // construct prompt
              const iterationPrompt =
                "Given the following product requirement document, what could be some potential future iterations to improve the product. List the potential features in a list with a concise explanation. ---START OF DOCUMENT---" +
                doc +
                "---END OF DOCUMENT---";

              // send request to OpenAI API
              this.sendRequest(iterationPrompt);
            } else {
              this.feedback =
                "Invalid Document. Document must be between 100-2000 words.";
            }
          },

          // send request to OpenAI API
          sendRequest(requestPrompt) {
            let _this = this;

            // check if the OpenAI API key is valid
            if (!this.isValidOpenaiKey()) {
              this.feedback = "Invalid OpenAI API Key. Please try again.";
              this.showPopup = true;
              return;
            }

            let OPENAI_API_KEY = this.openAIKey.trim();
            console.log("Sending request to OpenAI API...");
            _this.feedback = "Sending request to OpenAI API...";

            const url = "https://api.openai.com/v1/chat/completions";

            const data = {
              model: "gpt-3.5-turbo",
              messages: [{ role: "user", content: requestPrompt }],
              temperature: 0.3,
            };

            fetch(url, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
                Authorization: `Bearer ${OPENAI_API_KEY}`,
              },
              body: JSON.stringify(data),
            })
              .then((response) => response.json())
              .then((data) => {
                _this.feedback = data.choices[0].message.content;
              })
              .catch((error) => {
                _this.feedback = JSON.stringify(error);
              });
          },
        },
      });

      app.mount("#app");
    </script>
  </body>
</html>
